{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>Pirate Me...</h1>

    <br>
    <label>Enter what you'd like pirated up...</label>

    <form>
      <div class="form-group">
        <input type="text" id="pirate-speak" class="form-control" placeholder="enter boring words here...">
      </div>
      <div class="form-group">
        <input type="submit" id="search-submit" class="btn btn-default" value="search">
      </div>
    </form>


    <hr>

    <h4>Arrgh, here be your translation</h4>


    <div class="results-area">
    </div>

  </div>

{% endblock %}
